{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% load static %}

{% block main %}
  <main class="main">
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <form action="" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
            {% csrf_token %}
            <h1 class="section-title text-center">Login</h1>

            <button type="submit" class="btn btn-success w-100">
                Sign Up Now
            </button>
        </form>

      </div>

    </section><!-- /Contact Section -->

  </main>
{% endblock main %}