{% extends "base.html" %}
{% block title %}Resend Verify Email{% endblock title %}
{% load static %}

{% block main %}
  <main class="main">
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container">

      <form method="post" class="php-email-form" novalidate>
        {% csrf_token %}

        <h1 class="section-title text-center">Resend Verify Email</h1>

        <div class="row gy-4">

          <div class="col-md-12 ">
            {{form.email}}
            {{form.errors.email}}
          </div>
            
          <div class="col-md-12 text-center">
            <div class="sent-message"></div>
            <div class="error-message"></div>
            <button type="submit">Resend Now</button>
          </div>

          <div class="col-md-12 text-center">
               receive the verify email?
              <a href="{% url 'verify-email' %}" target="_blank" rel="noopener noreferrer">
                  Verify email
              </a>
          </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>
{% endblock main %}