{% extends "base.html" %}
{% block title %}Verify Email{% endblock title %}
{% load static %}

{% block main %}
  <main class="main">
    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <div class="container">

        <form method="post" class="php-email-form" novalidate>
          {% csrf_token %}

          <h1 class="section-title text-center">Verify Email</h1>

          <div class="row gy-4">
            {% include "non-field-errors.html" %}
            <div class="col-md-6 ">
              {{form.email}}
              {{form.errors.email}}
            </div>
            
            <div class="col-md-6">
              {{form.otp}}
              {{form.errors.otp}}
            </div>

            <div class="col-md-12 text-center">
              <div class="sent-message"></div>
              <div class="error-message"></div>
              <button type="submit">Verify Now</button>
            </div>

            <div class="col-md-12 text-center">
                Didn't receive the verify email?
                <a href="{% url 'resend-verify-email' %}" target="_blank" rel="noopener noreferrer">
                    Resend verify email
                </a>
            </div>
            
          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>
{% endblock main %}